.container {
  display: grid;
  grid-template-columns: 0.8fr 3fr;
  width: 90vw;
  margin: auto;

  .content {
    input {
      display: block;
      font-size: 1.2rem;
      padding: 2px;
      width: 90%;
      margin: 20px auto;
    }
  }
}
